html,
body,
main,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  background-color: #dcdcdc;
  /*max-width: "100%";*/
  /*margin: 0 auto;*/
  padding: 0;
  text-align: center;
  --fc-today-bg-color: rgba(122, 255, 31, 0.68);
  --fc-neutral-text-color: #fa0000;

}


.list-item-drawer:hover {
  transition: border 0.1s ease;
  border: 3px solid #000;
  background-color: #dc85c0;
}
.list-item-drawer a:hover {
  color: black;
}

/* Cambiar el color del texto */
.fc-event-title {
  color: #ffffff;  /* Cambia esto al color que prefieras */
}

/* Cambiar el color de bordes del día */
.fc-daygrid-day-frame {
  border: 1px solid #000000;  /* Cambia esto al color que prefieras */
}

.fc-day-today {
  background: #d94f4f !important;
  border: none !important;
}

